<!DOCTYPE html>
<html>
   <body>
      <form action = "/post" method = "post">

        <p>Enter Number:</p>

        <p><input type = "text" name = "nm" /></p>

        <p><input type = "submit" value = "Submit" /></p>
      </form>

      <form action = "/get" method = "get">

        <p>Fetch Top of Queue:</p>

        <p><input type = "submit" value = "Fetch" /></p>

      </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h3>{{ message }}</h3>
            {% endfor %}
        {% endif %}
      {% endwith %}

<!--   <script>if (window.performance) {-->
<!--  console.info("window.performance works fine on this browser");-->
<!--}-->
<!--console.info(performance.navigation.type);-->
<!--if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {-->
<!--    window.location.href = 'http://localhost:5000';-->
<!--} else {}-->
<!--    </script>-->
   </body>
</html>